@if (node().connected) {
    <form [formGroup]="form" (submit)="attack()" class="contents">
        <label hlmLabel>
            {{ "ATTACK" | translate }}
            <brn-select
                class="!mt-2 inline-block w-full"
                [placeholder]="'SELECT_ATTACK' | translate"
                formControlName="attack">
                <hlm-select-trigger class="w-full">
                    <hlm-select-value />
                </hlm-select-trigger>
                <hlm-select-content>
                    @for (item of attacks; track $index) {
                        @if (item === "---") {
                            <hlm-menu-separator />
                        } @else {
                            <hlm-option [value]="item">{{
                                item.name
                            }}</hlm-option>
                        }
                    } @empty {
                        <hlm-option disabled class="px-2">
                            {{ "NO_ATTACKS" | translate }}
                        </hlm-option>
                    }
                </hlm-select-content>
            </brn-select>
        </label>
        <label hlmLabel>
            {{ (multiple() ? "TARGETS" : "TARGET") | translate }}
            <brn-select
                class="!mt-2 inline-block w-full"
                [placeholder]="
                    (multiple() ? 'TARGETS_IP' : 'TARGET_IP') | translate
                "
                formControlName="target"
                [multiple]="multiple()">
                <hlm-select-trigger class="w-full">
                    <hlm-select-value />
                </hlm-select-trigger>
                <hlm-select-content>
                    @for (item of connectedNodes; track $index) {
                        <hlm-option [value]="item.ip">{{ item.ip }}</hlm-option>
                    }
                </hlm-select-content>
            </brn-select>
        </label>
        <button hlmBtn [disabled]="form.invalid">
            {{ "LAUNCH_ATTACK" | translate }}
        </button>
    </form>
} @else {
    <ng-icon
        name="lucideUnplug"
        size="6rem"
        class="mb-8 mt-4 self-center text-secondary" />
    <p class="w-96 self-center text-center text-sm text-muted-foreground">
        {{ "ATTACKER_NOT_CONNECTED" | translate }}
    </p>
}
