<form [formGroup]="form" class="flex flex-col gap-4">
    @if (isConnected) {
        <label hlmLabel>
            Objetivo
            <brn-select
                class="!mt-2 inline-block w-full"
                placeholder="IP objetivo"
                formControlName="target">
                <hlm-select-trigger class="w-full">
                    <hlm-select-value />
                </hlm-select-trigger>
                <hlm-select-content>
                    @for (item of connectedNodes; track $index) {
                        <hlm-option [value]="item.ip">{{ item.ip }}</hlm-option>
                    }
                </hlm-select-content>
            </brn-select>
        </label>
        <div class="grid grid-cols-3 gap-4">
            @for (item of phantomAttackerAttacks; track $index) {
                <label
                    hlmLabel
                    class="flex cursor-pointer select-none flex-col items-center gap-3 rounded-md border-2 border-muted p-4 transition-all hover:bg-accent">
                    <input
                        type="radio"
                        formControlName="type"
                        [value]="item"
                        class="peer hidden" />
                    <ng-icon
                        [name]="phantomAttackerAttackToIcon(item)"
                        size="1.5rem" />
                    {{ phantomAttackerAttackToString(item) }}
                </label>
            }
        </div>
        <button hlmBtn>Enviar ataque</button>
    } @else {
        <ng-icon
            name="lucideUnplug"
            size="6rem"
            class="mb-8 mt-4 self-center text-secondary" />
        <p class="w-96 text-center text-sm text-muted-foreground">
            No estás conectado a ninguna red, por lo que no puedes enviar
            ataques. Para poder enviar ataques, debes estar conectado a una red.
        </p>
    }
</form>
