<form [formGroup]="form" (submit)="attack()" class="flex flex-col gap-4">
    @if (isConnected) {
        <label hlmLabel>
            Ataque
            <brn-select
                class="!mt-2 inline-block w-full"
                placeholder="Tipo de ataque"
                formControlName="attack">
                <hlm-select-trigger class="w-full">
                    <hlm-select-value />
                </hlm-select-trigger>
                <hlm-select-content>
                    @for (item of phantomAttackerAttacks; track $index) {
                        <hlm-option [value]="item">{{
                            item | name
                        }}</hlm-option>
                    } @empty {
                        <hlm-option disabled class="px-2">
                            No hay ataques disponibles
                        </hlm-option>
                    }
                </hlm-select-content>
            </brn-select>
        </label>
        <label hlmLabel>
            Objetivo
            <brn-select
                class="!mt-2 inline-block w-full"
                placeholder="IP objetivo"
                formControlName="target">
                <hlm-select-trigger class="w-full">
                    <hlm-select-value />
                </hlm-select-trigger>
                <hlm-select-content>
                    @for (item of connectedNodes; track $index) {
                        <hlm-option [value]="item.ip">{{ item.ip }}</hlm-option>
                    }
                </hlm-select-content>
            </brn-select>
        </label>
        <button hlmBtn [disabled]="form.invalid">Enviar ataque</button>
    } @else {
        <ng-icon
            name="lucideUnplug"
            size="6rem"
            class="mb-8 mt-4 self-center text-secondary" />
        <p class="w-96 text-center text-sm text-muted-foreground">
            No estás conectado a ninguna red, por lo que no puedes enviar
            ataques. Para poder enviar ataques, debes estar conectado a una red.
        </p>
    }
</form>
