<div class="flex flex-col gap-4">
    @if (isConnected) {
        <brn-table
            hlm
            stickyHeader
            [dataSource]="traffic"
            [displayedColumns]="[
                'icon',
                'source',
                'destination',
                'length',
                'data',
            ]"
            class="block max-h-[280px] overflow-auto rounded-md border border-border">
            <brn-column-def name="icon" class="w-12">
                <hlm-th *brnHeaderDef />
                <hlm-td *brnCellDef="let item">
                    @if (ip === item.srcIP) {
                        <ng-icon
                            name="lucideReply"
                            size="1rem"
                            class="text-red-600 dark:text-red-400" />
                    } @else if (ip === item.dstIP) {
                        <ng-icon
                            name="lucideForward"
                            size="1rem"
                            class="text-green-600 dark:text-green-400" />
                    } @else {
                        <ng-icon
                            name="lucideRepeat"
                            size="1rem"
                            class="text-yellow-600 dark:text-yellow-400" />
                    }
                </hlm-td>
            </brn-column-def>
            <brn-column-def name="source" class="w-28">
                <hlm-th *brnHeaderDef>Origen</hlm-th>
                <hlm-td *brnCellDef="let item">
                    {{ item.srcIP }}
                </hlm-td>
            </brn-column-def>
            <brn-column-def name="destination" class="w-28">
                <hlm-th *brnHeaderDef>Destino</hlm-th>
                <hlm-td *brnCellDef="let item">
                    {{ item.dstIP }}
                </hlm-td>
            </brn-column-def>
            <brn-column-def name="length" class="w-[86px]">
                <hlm-th *brnHeaderDef>Longitud</hlm-th>
                <hlm-td *brnCellDef="let item" class="justify-end">
                    {{ item.payloadSize }}
                </hlm-td>
            </brn-column-def>
            <brn-column-def name="data" class="w-56">
                <hlm-th *brnHeaderDef>Dato</hlm-th>
                <hlm-td truncate *brnCellDef="let item">
                    {{ item.payload }}
                </hlm-td>
            </brn-column-def>
        </brn-table>
        <div class="flex flex-col gap-2">
            <textarea
                hlmInput
                placeholder="Contenido a enviar"
                class="h-[100px] w-full resize-none"></textarea>
            <div class="flex flex-row items-center justify-end gap-2">
                <brn-select class="inline-block w-56" placeholder="Ip destino">
                    <hlm-select-trigger class="w-56">
                        <hlm-select-value />
                    </hlm-select-trigger>
                    <hlm-select-content>
                        @for (item of connectedNodes; track $index) {
                            <hlm-option [value]="item.ip">{{
                                item.ip
                            }}</hlm-option>
                        }
                    </hlm-select-content>
                </brn-select>
                <button hlmBtn>Enviar</button>
            </div>
        </div>
    } @else {
        @if (type === "router") {
            <ng-icon
                name="lucideHourglass"
                size="6rem"
                class="mb-8 mt-4 self-center text-secondary" />
            <p class="w-96 text-center text-sm text-muted-foreground">
                No tienes dispositivos conectados. Espera a que algún
                dispositivo se conecte para poder enviar y recibir datos.
            </p>
        } @else {
            <ng-icon
                name="lucideUnplug"
                size="6rem"
                class="mb-8 mt-4 self-center text-secondary" />
            <p class="w-96 text-center text-sm text-muted-foreground">
                No estas conectado a ningún router. Para poder enviar y recibir
                datos, debes estar conectado a un router.
            </p>
            <button hlmBtn (click)="connect()" [disabled]="!canConnect">
                Conectar
            </button>
        }
    }
</div>
