@if (node().connected) {
    @if (node().traffic.length > 0) {
        <brn-table
            hlm
            stickyHeader
            [dataSource]="node().traffic.slice(-50)"
            [displayedColumns]="displayedColumns()"
            class="block max-h-[280px] overflow-auto rounded-md border border-border">
            <brn-column-def name="icon" class="w-12">
                <hlm-th *brnHeaderDef />
                <hlm-td *brnCellDef="let item">
                    @switch (node().ip) {
                        @case (item.srcIP) {
                            <ng-icon
                                name="lucideReply"
                                size="1rem"
                                class="text-red-600 dark:text-red-400" />
                        }
                        @case (item.dstIP) {
                            <ng-icon
                                name="lucideForward"
                                size="1rem"
                                class="text-green-600 dark:text-green-400" />
                        }
                        @default {
                            <ng-icon
                                name="lucideRepeat"
                                size="1rem"
                                class="text-yellow-600 dark:text-yellow-400" />
                        }
                    }
                </hlm-td>
            </brn-column-def>
            <brn-column-def name="source" class="w-28">
                <hlm-th *brnHeaderDef>Origen</hlm-th>
                <hlm-td *brnCellDef="let item">
                    {{ item.srcIP }}
                </hlm-td>
            </brn-column-def>
            <brn-column-def name="destination" class="w-28">
                <hlm-th *brnHeaderDef>Destino</hlm-th>
                <hlm-td *brnCellDef="let item">
                    {{ item.dstIP }}
                </hlm-td>
            </brn-column-def>
            <brn-column-def name="size" class="w-[86px]">
                <hlm-th *brnHeaderDef>Bytes</hlm-th>
                <hlm-td *brnCellDef="let item" class="justify-center">
                    {{ item.totalBytes }}
                </hlm-td>
            </brn-column-def>
            <brn-column-def name="data" class="w-56">
                <hlm-th *brnHeaderDef>Dato</hlm-th>
                <hlm-td truncate *brnCellDef="let item">
                    {{ item.payload }}
                </hlm-td>
            </brn-column-def>
        </brn-table>
    } @else {
        <ng-icon
            name="lucideTrafficCone"
            size="6rem"
            class="mb-8 mt-4 self-center text-secondary" />
        <p
            class="mb-4 w-96 self-center text-center text-sm text-muted-foreground">
            No hay tráfico disponible. Espera a que llegue el tráfico de otro
            dispositivo o puedes ejecutar un comando para enviar tráfico a otro
            dispositivo.
        </p>
    }
    <form
        [formGroup]="form"
        (submit)="execute()"
        class="flex w-[584px] flex-row items-center justify-end gap-2">
        <label hlmLabel class="w-40">
            Comando
            <brn-select
                class="!mt-2 inline-block w-full"
                placeholder="Comando a ejecutar"
                formControlName="command">
                <hlm-select-trigger class="w-full">
                    <hlm-select-value />
                </hlm-select-trigger>
                <hlm-select-content>
                    @for (item of commands; track $index) {
                        @if (item === "---") {
                            <hlm-menu-separator />
                        } @else {
                            <hlm-option [value]="item">{{
                                item.name
                            }}</hlm-option>
                        }
                    } @empty {
                        <hlm-option disabled class="px-2">
                            No hay comandos disponibles
                        </hlm-option>
                    }
                </hlm-select-content>
            </brn-select>
        </label>
        <label hlmLabel class="grow">
            {{ multiple() ? "Objetivos" : "Objetivo" }}
            <brn-select
                class="!mt-2 inline-block w-full"
                [placeholder]="multiple() ? 'IPs objetivo' : 'IP objetivo'"
                formControlName="target"
                [multiple]="multiple()">
                <hlm-select-trigger class="w-full">
                    <hlm-select-value />
                </hlm-select-trigger>
                <hlm-select-content>
                    @for (item of connectedNodes; track $index) {
                        <hlm-option [value]="item.ip">{{ item.ip }}</hlm-option>
                    }
                </hlm-select-content>
            </brn-select>
        </label>
        <button hlmBtn [disabled]="form.invalid" class="self-end">
            Ejecutar
        </button>
    </form>
} @else {
    @if (NodeType.RouterTypes.includes(this.node().type)) {
        <ng-icon
            name="lucideHourglass"
            size="6rem"
            class="mb-8 mt-4 self-center text-secondary" />
        <p class="w-96 self-center text-center text-sm text-muted-foreground">
            No tienes dispositivos conectados. Espera a que algún dispositivo se
            conecte para poder enviar y recibir datos.
        </p>
    } @else {
        <ng-icon
            name="lucideUnplug"
            size="6rem"
            class="mb-8 mt-4 self-center text-secondary" />
        <p class="w-96 self-center text-center text-sm text-muted-foreground">
            No estas conectado a ningún router. Para poder enviar y recibir
            datos, debes estar conectado a un router.
        </p>
        <button hlmBtn (click)="connect()" [disabled]="!canConnect">
            Conectar
        </button>
    }
}
