<div
    #node
    class="node"
    [ngClass]="{
        'moving': moving,
    }"
    [ngStyle]="{
        left: 'calc(50% + ' + x + 'px)',
        top: 'calc(50% - ' + y + 'px)',
    }"
    [ngSwitch]="type">
    <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        *ngSwitchCase="'router'">
        <rect width="20" height="8" x="2" y="14" rx="2" />
        <path d="M6.01 18H6" />
        <path d="M10.01 18H10" />
        <path d="M15 10v4" />
        <path d="M17.84 7.17a4 4 0 0 0-5.66 0" />
        <path d="M20.66 4.34a8 8 0 0 0-11.31 0" />
    </svg>
    <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        *ngSwitchCase="'iot'">
        <rect width="16" height="16" x="4" y="4" rx="2" />
        <rect width="6" height="6" x="9" y="9" rx="1" />
        <path d="M15 2v2" />
        <path d="M15 20v2" />
        <path d="M2 15h2" />
        <path d="M2 9h2" />
        <path d="M20 15h2" />
        <path d="M20 9h2" />
        <path d="M9 2v2" />
        <path d="M9 20v2" />
    </svg>
    <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        *ngSwitchCase="'computer'">
        <path
            d="M20 16V7a2 2 0 0 0-2-2H6a2 2 0 0 0-2 2v9m16 0H4m16 0 1.28 2.55a1 1 0 0 1-.9 1.45H3.62a1 1 0 0 1-.9-1.45L4 16" />
    </svg>
</div>
<div
    class="node-info"
    [ngClass]="{
    'moving': moving,
}"
    [ngStyle]="{
    left: 'calc(50% + 30px + ' + x + 'px)',
    top: 'calc(50% - ' + y + 'px)',
}">
    <span class="text-lg name">{{ name }}</span>
    <span class="text-sm ip">{{ ip }}</span>
</div>
