.node {
    position: absolute;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 1.5px solid var(--border);
    border-radius: var(--radius);
    background-color: var(--card);
    color: var(--card-foreground);
    box-shadow: var(--shadow);
    transform: translate(-50%, -50%);
    transform-origin: center;
    transition: transform 100ms, top 100ms, left 100ms, border 100ms,
        background-color 100ms, color 100ms;
    cursor: pointer;
}

.node.moving {
    z-index: 40;
    cursor: grabbing;
    transform: translate(-50%, -50%) scale(1.2);
    transition: transform 100ms;
}

.node.selected {
    z-index: 50;
    border: 0px solid var(--primary);
    background-color: var(--primary);
    color: var(--primary-foreground);
}

.node.active {
    z-index: 30;
    border: 3px solid var(--primary);
}

.node-info {
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: auto;
    height: 60px;
    margin-left: 12px;
    transform: translate(0, -50%);
    transform-origin: center;
    transition: opacity 100ms, top 100ms, left 100ms;
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

.node-info.moving,
.node-info.selected {
    opacity: 0;
    transition: opacity 100ms;
}

.node-info .name {
    font-weight: 600;
}

.node-info .ip {
    color: var(--muted-foreground);
    opacity: 0.6;
}
