.connection {
    @apply stroke-border stroke-1;
    @apply transition-[stroke-width,stroke-color];
    stroke-linecap: round;

    ::ng-deep .high-contrast & {
        @apply !stroke-primary;
    }
}

.connection.animate {
    @apply stroke-primary stroke-2;
    stroke-dasharray: 10;
    animation: 5s linear 0ms infinite forwards normal dash;
}

.connection.animate.reverse {
    animation-direction: reverse;
}

.cyber-shield {
    @apply opacity-100;
    @apply transition-[opacity,fill-color];
}

.cyber-shield.disabled {
    @apply opacity-0;
}

.cyber-shield.waiting {
    @apply fill-blue-600 dark:fill-blue-400;
}

.cyber-shield.safe {
    @apply fill-green-600 dark:fill-green-400;
}

.cyber-shield.attack {
    @apply fill-red-600 dark:fill-red-400;
}

.cyber-shield.animate {
    animation: 800ms ease-in-out 0ms infinite alternate pulse;
}

.pseudo-connection {
    @apply pointer-events-auto cursor-pointer stroke-transparent stroke-[20];
}

.pseudo-connection:hover ~ .connection {
    @apply stroke-[4];
}

@keyframes dash {
    from {
        stroke-dashoffset: 100%;
    }

    to {
        stroke-dashoffset: 0%;
    }
}

@keyframes pulse {
    from {
        r: 5;
    }
    to {
        r: 7;
    }
}
