:host {
    display: contents;
}

.connection {
    @apply stroke-border stroke-1;
    stroke-linecap: round;
}

.connection.transmitting {
    @apply stroke-primary stroke-2;
    stroke-dasharray: 10;
    animation: dash 5s linear 0ms infinite normal forwards;
}

.connection.transmitting.reverse {
    animation-direction: reverse;
}

@keyframes dash {
    from {
        stroke-dashoffset: 100%;
    }

    to {
        stroke-dashoffset: 0%;
    }
}
