<div
    class="flex cursor-default select-none flex-row items-start justify-between p-6">
    <div class="flex h-[40px] flex-col items-start justify-between">
        <h3 hlmCardTitle>{{ name }}</h3>
        <p hlmCardDescription>{{ ip }}</p>
    </div>
    <button hlmBtn routerLink="/" variant="secondary" class="p-3">
        <ng-icon name="lucideX" size="16" />
    </button>
</div>
<div
    class="mx-6 mb-4 inline-flex h-10 items-center justify-center space-x-1 rounded-md bg-muted p-1 text-muted-foreground">
    <button
        routerLink="network-traffic"
        class="inline-flex flex-1 items-center justify-center whitespace-nowrap rounded-sm px-3 py-1.5 text-sm font-medium ring-offset-background transition-all focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2"
        routerLinkActive="bg-background text-foreground shadow-sm">
        Tráfico de red
    </button>
    @if (attacker) {
        <button
            routerLink="attack"
            class="inline-flex flex-1 items-center justify-center gap-1 whitespace-nowrap rounded-sm px-3 py-1.5 text-sm font-medium ring-offset-background transition-all focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2"
            routerLinkActive="bg-background text-foreground shadow-sm">
            <ng-icon name="lucideGhost" size="1rem" />
            Phantom Attacker
        </button>
    }
    <button
        routerLink="configuration"
        class="inline-flex flex-1 items-center justify-center whitespace-nowrap rounded-sm px-3 py-1.5 text-sm font-medium ring-offset-background transition-all focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2"
        routerLinkActive="bg-background text-foreground shadow-sm">
        Configuración
    </button>
</div>
<div hlmCardContent class="overflow-scroll">
    <router-outlet />
</div>
