<form [formGroup]="form" (submit)="delete()" class="contents">
    <label hlmLabel>
        Nombre
        <input
            hlmInput
            type="text"
            formControlName="name"
            placeholder="Nombre del dispositivo"
            class="!mt-2 w-full" />
    </label>
    <label hlmLabel>
        IP
        <input
            hlmInput
            type="text"
            formControlName="ip"
            placeholder="IP del dispositivo"
            class="!mt-2 w-full" />
    </label>
    <label hlmLabel>
        Tipo
        <brn-select
            formControlName="type"
            placeholder="Selecciona un tipo"
            class="!mt-2 inline-block w-full"
            [disabled]="NodeType.RouterTypes.includes(this.node().type)">
            <hlm-select-trigger class="w-full">
                <hlm-select-value />
            </hlm-select-trigger>
            <hlm-select-content>
                @for (item of NodeType.getTypes(node().type); track $index) {
                    <hlm-option [value]="item">{{
                        NodeType.toString(item)
                    }}</hlm-option>
                }
            </hlm-select-content>
        </brn-select>
    </label>
    <button hlmBtn variant="destructive">Eliminar</button>
</form>
