<label hlmLabel>
    Nombre
    <input
        hlmInput
        type="text"
        [(ngModel)]="node().name"
        placeholder="Nombre del dispositivo"
        class="!mt-2 w-full" />
</label>
<label hlmLabel>
    IP
    <input
        hlmInput
        type="text"
        [ngModel]="node().ip"
        placeholder="IP del dispositivo"
        disabled
        class="!mt-2 w-full" />
</label>
<label hlmLabel>
    Tipo
    <brn-select
        [(ngModel)]="node().type"
        placeholder="Selecciona un tipo"
        [disabled]="NodeType.getTypes(node().type).length <= 1"
        class="!mt-2 inline-block w-full">
        <hlm-select-trigger class="w-full">
            <hlm-select-value />
        </hlm-select-trigger>
        <hlm-select-content>
            @for (item of NodeType.getTypes(node().type); track $index) {
                <hlm-option [value]="item">{{
                    NodeType.toString(item)
                }}</hlm-option>
            }
        </hlm-select-content>
    </brn-select>
</label>
<button hlmBtn variant="destructive" (click)="delete()">Eliminar</button>
