<form [formGroup]="form" class="flex flex-col gap-4">
    <label hlmLabel>
        Objetivo
        <brn-select class="!mt-2 inline-block w-full" placeholder="Ip destino">
            <hlm-select-trigger class="w-full">
                <hlm-select-value />
            </hlm-select-trigger>
            <hlm-select-content>
                <hlm-option value="192.168.0.31">192.168.0.31</hlm-option>
                <hlm-option value="192.168.0.24">192.168.0.24</hlm-option>
            </hlm-select-content>
        </brn-select>
    </label>
    <div class="grid grid-cols-3 gap-4">
        <label
            hlmLabel
            class="flex cursor-pointer select-none flex-col items-center gap-3 rounded-md border-2 border-muted p-4 transition-all hover:bg-accent"
            [ngClass]="{
                '!border-primary': form.get('attack_type')!.value === 'dos',
            }">
            <input
                type="radio"
                formControlName="attack_type"
                value="dos"
                class="hidden" />
            <ng-icon name="lucideCrosshair" size="1.5rem" />
            DoS
        </label>
        <label
            hlmLabel
            class="flex cursor-pointer select-none flex-col items-center gap-3 rounded-md border-2 border-muted p-4 transition-all hover:bg-accent"
            [ngClass]="{
                '!border-primary': form.get('attack_type')!.value === 'ddos',
            }">
            <input
                type="radio"
                formControlName="attack_type"
                value="ddos"
                class="hidden" />
            <ng-icon name="lucideBomb" size="1.5rem" />
            DDoS
        </label>
        <label
            hlmLabel
            class="flex cursor-pointer select-none flex-col items-center gap-3 rounded-md border-2 border-muted p-4 transition-all hover:bg-accent"
            [ngClass]="{
                '!border-primary':
                    form.get('attack_type')!.value === 'scanning',
            }">
            <input
                type="radio"
                formControlName="attack_type"
                value="scanning"
                class="hidden" />
            <ng-icon name="lucideRadar" size="1.5rem" />
            Scanning
        </label>
    </div>
    <button hlmBtn>Enviar ataque</button>
</form>
